#####################################################################################
# Set compiler specific variables for the Cray compiler
#####################################################################################
# Base compiler name
$compiler{?} = ftn

# Name of mpi wrapper for compiler
$compiler_mpi{?}  = ftn

# The Cray compiler uses a special flag for module search
build.prop{fc.flag-module} = -J %s

# Compiler-specific preprocessor directives
$fpp_defs = $fpp_defs CRAY_FORTRAN

# Non-standard modules provided by the compiler runtime
$external_mods = $external_mods

# The following Crayftn warning codes are promoted to errors
# ftn-7208 : Privatized version of variable "var" is used before it is defined.
# ftn-7212 : Variable "var" is used before it is defined.
$fcflags_warn2err = -M E7208,E7212

# Common run-time flags
$fflags_common  = -hlist=ad -hfp0 -hflex_mp=intolerant -dw -ec -eI -em -en $fcflags_warn2err
$ldflags_common =

# Since the Cray compiler generates .mod files in UPPER CASE, this is required
build.prop{file-name-option.f90-mod} = case=upper

# Flags for debug mode
$fflags_debug  = $fflags_common -g
$ldflags_debug =

# Flags for normal mode
$fflags_normal  = $fflags_common
$ldflags_normal =

# Flags for fast mode
$fflags_fast  = $fflags_common -O3
$ldflags_fast =

# OpenMP specific flags
$fflags_noomp  = -h noomp
$ldflags_noomp = -h noomp

$fflags_omp  = -h omp
$ldflags_omp = -h omp

$SOURCE_PATH_PREFIX{?} = jules

#######################################################################################################################
# Some file overrides
#######################################################################################################################
#

$SOURCE_PATH_PREFIX{?} = jules

# File override to cut down compile times - compiler version: cce/12.0.1
build.prop{fc.flags}[$SOURCE_PATH_PREFIX/src/io/model_interface/model_interface_mod.F90] = -O0 -Ovector0 -hfp0 -hflex_mp=strict -hipa0
#
# File override to circumvent compiler bug - compiler version: cce/12.0.1
build.prop{fc.flags}[$SOURCE_PATH_PREFIX/src/initialisation/standalone/init_prescribed_data_mod.F90] = $fflags_common -O1
